* {
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
}

i {
  color: white;
}

#app {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

#app_content {
  flex: 12;
}

#app_bottom {
  flex: 1;
  display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  background-color: #324057;
  position: relative;

  #app_bottom_wrapper {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  a {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .tab:before {
      font-size: 1.6em;
  }
}